body {
  font-family: Arial;
  margin: 0;
  background-color: #333333;
}

.btn {
  display: inline-block;
  padding: 5px 10px;
  margin: 1px;
  border: 1px solid #aaaaaa;
  font-size: 10px;
  font-weight: bold;
  text-decoration: none;
  color: #cccccc;
  background-color: #666666;
}

.btn:hover {
  background-color: #888888;
}
